
@model IEnumerable<ListBulkDelete.Models.Person> 


<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
</div>
 
<br />
<div>
    <button type="button" class="btn btn-danger " id="deletebulk" onclick="delectbulkaction('Home', 'DeleteBulk')"> Delete</button>
</div>
<div>
    <table id="table_div_func" class="table table-striped table-hover table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll">
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>  
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="chk" class="classchk" value="@item.Id">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td> 
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td> 
                </tr>
            }
        </tbody>
    </table>
</div>
  